<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link href="{% static 'css/errors/404.css' %}" rel="stylesheet">
</head>
<body>
<div id="error">
    <div id="box"></div>
    <h3>Ошибка 404</h3>
    <p>Эта страница <span>не существует</span></p>
    <p><a href="/">Вернуться на главную</a></p>
</div>
</body>
</html>