<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tkacheff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86166898, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/86166898" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body id="page-top">
<!--/ Nav Star /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="#page-top"><img src="{% static 'img/logo.png' %}"
                                                                class="img-fluid rounded b-shadow-a" alt=""></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="#home">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#about">Обо мне</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#service">Умения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#work">Работа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#blog">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="#contact">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--/ Nav End /-->
<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url({% static 'img/intro-bg.jpg' %})">
    <div class="overlay-intro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <p class="display-6 color-d">Hello, world!</p>
                <h1 class="intro-title mb-4">Меня зовут Андрей Ткачёв&nbsp;</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Web Developer,Web Designer,Full Stack Developer,Python Developer</span><strong
                        class="text-slider"></strong></p>
                <!--           <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="{% static 'img/my-photo.jpg' %}"
                                             class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Имя: </span> <span>Андрей Ткачёв</span></p>
                                        <p><span class="title-s">Основной профиль: </span>
                                            <span>Full Stack Developer</span></p>
                                        <p><span class="title-s">Email: </span> <a href="mailto:andrew@tkacheff.su">andrew@tkacheff.su</a>
                                        </p>
                                        <p><span class="title-s">Телефон: </span> <a href="tel:+79852554198">8(985)255-41-98</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Навыки</p>
                                <span>Python</span> <span class="pull-right">100%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%;"
                                         aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>C++</span> <span class="pull-right">90%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%;"
                                         aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>HTML</span> <span class="pull-right">100%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%;"
                                         aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>CSS3</span> <span class="pull-right">90%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>PHP</span> <span class="pull-right">25%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>JAVASCRIPT</span> <span class="pull-right">70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Обо мне
                                    </h5>
                                </div>
                                <p class="lead">
                                    Мой путь в IT начался в 2016 году, когда я поступил в Московскую Школу
                                    Программистов.
                                    Там я изучил C++, Python, Git и JavaScripts, а также множество других технологий. Но
                                    гланое, я получил много опыта.
                                    Сейчас я в основном занимаюсь разработкой сайтов. Моим классическим набором
                                    технологий является:</p>
                                <ul>
                                    <li>Django(Python) для серверной части</li>
                                    <li>HTML5, CSS3, JS для пользовательской части</li>
                                    <li>Docker-контейнеры для запуска сайтов на серверах</li>
                                    <li>Имею базовые знания работы с базами данных</li>
                                </ul>
                                <p class="lead">Кроме web-разработки я имею небольшой опыт создание интерфейсов с
                                    помощью C++ и сейчас
                                    изучаю машинное обучение с помощью Python.</p>
                                <p class="lead">
                                    Помимо web-разработки я увлекаюсь 3D-моделированием, в частности работаю в
                                    Blender3D, изучаю Generative Design с помощью Python.
                                </p>
                                <p class="lead">
                                    В свободное от работы и учёбы время я занимаюсь фотографией, музыкой. Люблю играть,
                                    читать книги и изучать новые технологии.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Умения
                    </h3>
                    <p class="subtitle-a">
                        Краткий обзор моих навыков и знаний
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code-working"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                        <p class="s-description text-center">
                            Я активно занимаюсь web-разработкой и успел созздать уже 4 полноценных сайта.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-monitor"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Design</h2>
                        <p class="s-description text-center">
                            В каждом проекте, где я участвовал, на мне лежала разработка не только серверной части
                            сайта, но дизайна с помощью Figma.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-brain"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Machine Learning</h2>
                        <p class="s-description text-center">
                            С недавнего времени я начал заниматься машинными обучением. Пока что за плечами лишь один
                            крупный проект, но это лишь начало.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Responsive Design</h2>
                        <p class="s-description text-center">
                            Каждый раз при разработке сайта или приложения я думаю об адаптивности интерфейса под
                            различные устройства и ставлю эту цель одной из первостепенных в дизайне моих проектов.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-paintbrush"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">3D Modelling</h2>
                        <p class="s-description text-center">
                            Кроме разработки приложений я имею опыт 3D моделирование, рендеринга и композитинга. Для
                            этого я использую Blender 3D, однако постоянно ищу приложения для расширения своего опыта и
                            способов самовыражения.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="fas fa-chart-line"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Learning</h2>
                        <p class="s-description text-center">
                            Я очень люблю учиться и изучать что-то новое, поэтому постоянно совершенствую свои навыки и
                            приобретаю новые.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->
<div class="section-counter paralax-mf bg-image" style="background-image: url({% static 'img/counters-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">9</p>
                        <span class="counter-text">РАБОТ ВЫПОЛНЕНО</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">6</p>
                        <span class="counter-text">ЛЕТ ОПЫТА</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-people"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">15</p>
                        <span class="counter-text">ВСЕГО РЕПОЗИТОРИЕВ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">5</p>
                        <span class="counter-text">САЙТОВ СОЗДАНО</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Портфолио
                    </h3>
                    <p class="subtitle-a">
                        Мои проекты
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/scanner-web.png' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/scanner-web.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Продовед</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Development</span> / <span
                                            class="w-date">09.06.2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/scanner-api.png' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/scanner-api.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Продовед API</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Rest Api development</span> / <span
                                            class="w-date">09.06.2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/scanner-ml.png' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/scanner-ml.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Продовед ML</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Machine Learning</span> / <span
                                            class="w-date">09.06.2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/anonymizer.jpg' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/anonymizer.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Anonymyzer</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Machine Learning</span> / <span
                                            class="w-date">24.10.2021</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/simple-learning.png' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/simple-learning.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Simple Learning</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Development</span> / <span
                                            class="w-date">25.09.2020</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{% static 'img/simple-voting.png' %}" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="{% static 'img/simple-voting.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Simple Voting</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Development</span> / <span
                                            class="w-date">15.12.2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Portfolio End /-->
<!--/ Section Testimonials Star /-->
{#<div class="testimonials paralax-mf bg-image" style="background-image: url({% static 'img/overlay-bg.jpg' %})">#}
{#    <div class="overlay-mf"></div>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <div id="testimonial-mf" class="owl-carousel owl-theme">#}
{#                    <div class="testimonial-box">#}
{#                        <div class="author-test">#}
{#                            <img src="{% static 'img/testimonial-2.jpg' %}" alt="" class="rounded-circle b-shadow-a">#}
{#                            <span class="author">Xavi Alonso</span>#}
{#                        </div>#}
{#                        <div class="content-test">#}
{#                            <p class="description lead">#}
{#                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit#}
{#                                amet,#}
{#                                consectetur adipiscing elit.#}
{#                            </p>#}
{#                            <span class="comit"><i class="fa fa-quote-right"></i></span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="testimonial-box">#}
{#                        <div class="author-test">#}
{#                            <img src="{% static 'img/testimonial-4.jpg' %}" alt="" class="rounded-circle b-shadow-a">#}
{#                            <span class="author">Marta Socrate</span>#}
{#                        </div>#}
{#                        <div class="content-test">#}
{#                            <p class="description lead">#}
{#                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit#}
{#                                amet,#}
{#                                consectetur adipiscing elit.#}
{#                            </p>#}
{#                            <span class="comit"><i class="fa fa-quote-right"></i></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!--/ Section Blog Star /-->
{#<section id="blog" class="blog-mf sect-pt4 route">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <div class="title-box text-center">#}
{#                    <h3 class="title-a">#}
{#                        Блог#}
{#                    </h3>#}
{#                    <p class="subtitle-a">#}
{#                        Мой небольшой личный блог#}
{#                    </p>#}
{#                    <div class="line-mf"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <div class="card card-blog">#}
{#                    <div class="card-img">#}
{#                        <a href="blog-single.html"><img src="{% static 'img/post-1.jpg' %}" alt=""#}
{#                                                        class="img-fluid"></a>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <div class="card-category-box">#}
{#                            <div class="card-category">#}
{#                                <h6 class="category">Travel</h6>#}
{#                            </div>#}
{#                        </div>#}
{#                        <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>#}
{#                        <p class="card-description">#}
{#                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa,#}
{#                            convallis#}
{#                            a pellentesque nec,#}
{#                            egestas non nisi.#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        <div class="post-author">#}
{#                            <a href="#">#}
{#                                <img src="{% static 'img/testimonial-2.jpg' %}" alt="" class="avatar rounded-circle">#}
{#                                <span class="author">Morgan Freeman</span>#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="post-date">#}
{#                            <span class="ion-ios-clock-outline"></span> 10 min#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="card card-blog">#}
{#                    <div class="card-img">#}
{#                        <a href="blog-single.html"><img src="{% static 'img/post-2.jpg' %}" alt=""#}
{#                                                        class="img-fluid"></a>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <div class="card-category-box">#}
{#                            <div class="card-category">#}
{#                                <h6 class="category">Web Design</h6>#}
{#                            </div>#}
{#                        </div>#}
{#                        <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>#}
{#                        <p class="card-description">#}
{#                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa,#}
{#                            convallis#}
{#                            a pellentesque nec,#}
{#                            egestas non nisi.#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        <div class="post-author">#}
{#                            <a href="#">#}
{#                                <img src="{% static 'img/testimonial-2.jpg' %}" alt="" class="avatar rounded-circle">#}
{#                                <span class="author">Morgan Freeman</span>#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="post-date">#}
{#                            <span class="ion-ios-clock-outline"></span> 10 min#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="card card-blog">#}
{#                    <div class="card-img">#}
{#                        <a href="blog-single.html"><img src="{% static 'img/post-3.jpg' %}" alt=""#}
{#                                                        class="img-fluid"></a>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <div class="card-category-box">#}
{#                            <div class="card-category">#}
{#                                <h6 class="category">Web Design</h6>#}
{#                            </div>#}
{#                        </div>#}
{#                        <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>#}
{#                        <p class="card-description">#}
{#                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa,#}
{#                            convallis#}
{#                            a pellentesque nec,#}
{#                            egestas non nisi.#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        <div class="post-author">#}
{#                            <a href="#">#}
{#                                <img src="{% static 'img/testimonial-2.jpg' %}" alt="" class="avatar rounded-circle">#}
{#                                <span class="author">Morgan Freeman</span>#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="post-date">#}
{#                            <span class="ion-ios-clock-outline"></span> 10 min#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!--/ Section Blog End /-->
<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route"
         style="background-image: url{% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Обратная связь
                                    </h5>
                                </div>
                                <div>
                                    <form action="" method="post" role="form" class="contactForm">
                                        <div id="sendmessage">Ваше сообщение было отправлено. Спасибо.</div>
                                        <div id="errormessage"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                           placeholder="Your Name" data-rule="minlen:4"
                                                           data-msg="Please enter at least 4 chars"/>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email"
                                                           placeholder="Your Email" data-rule="email"
                                                           data-msg="Please enter a valid email"/>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject"
                                                           placeholder="Subject" data-rule="minlen:4"
                                                           data-msg="Please enter at least 8 chars of subject"/>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5"
                                                              data-rule="required"
                                                              data-msg="Please write something for us"
                                                              placeholder="Message"></textarea>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="button button-a button-big button-rouded">
                                                    Отправить сообщение
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Мои контакты
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        Как правило я не так много провожу в социальных сетях, зато мои репозитории
                                        всегда активны и ждут ваших звёдочек.
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="ion-ios-location"></span> Россия, Москва
                                        </li>
                                        <li><span class="ion-ios-telephone"></span> <a href="tel:+79852554198">+7(985)255-41-98</a>
                                        </li>
                                        <li><span class="ion-email"></span> <a href="mailto:andrew@tkacheff.su">andrew@tkacheff.su</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li><a href="https://gitlab.com/sim200347"><span class="ico-circle"><i
                                                class="fab fa-gitlab"></i></span></a></li>
                                        <li><a href="https://github.com/EnderSim"><span class="ico-circle"><i
                                                class="fab fa-github"></i></span></a></li>
                                        <li><a href="https://hub.docker.com/u/endersim"><span class="ico-circle"><i
                                                class="fab fa-docker"></i></span></a></li>
                                        <li><a href="https://t.me/EnderSony"><span class="ico-circle"><i
                                                class="fab fa-telegram-plane"></i></span></a></li>
                                        <li><a href="https://vk.com/andrey.tkachev2003"><span class="ico-circle"><i
                                                class="fab fa-vk"></i></span></a></li>
                                        <li><a href="https://artstation.com/endersim"><span class="ico-circle"><i
                                                class="fab fa-artstation"></i></span></a></li>
                                        <li><a href="https://www.pinterest.ru/sim200347"><span class="ico-circle"><i
                                                class="fab fa-pinterest"></i></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright">&copy; Copyright <strong>Tkacheff</strong>. All Rights Reserved</p>
                        <div class="credits">
                            Designed by <a href="https://tkacheff.su">Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--/ Section Contact-footer End /-->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>
<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/popper/popper.min.js' %}"></script>
<script src="{% static '/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/counterup/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/jquery.counterup.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'lib/typed/typed.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>
<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
